// @import 'semantic';

body {
  background: #fafafa;
  color: rgba(0, 0, 0, 0.8);
  font-family: "calluna", "adobe-garamond-pro", "Georgia", serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "calluna-sans", "Open Sans", "Helvetica", "Arial", sans-serif;
}
<<<<<<< Updated upstream:app/styles/main.less
=======

#masthead {
  background: #556270;/*#4ECDC4*/;
  color: #fff;
  padding: 8rem 0;
}

.hero {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: -0.025em;
  span {
    color: #C7F464;
  }
}
>>>>>>> Stashed changes:app/styles/main.scss
